{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right hidden">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <link rel="stylesheet" href="view/assets/css/global.min.css">
    <link rel="stylesheet" href="view/assets/css/admin.css">
    <link rel="stylesheet" href="view/assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="view/assets/css/custom.css">
    <script  type="text/javascript" src="view/assets/js/jquery.validate.min.js"></script>
    <script  type="text/javascript" src="view/assets/js/flowbite.js"></script>
    <script  type="text/javascript" src="view/assets/js/sweetalert2.all.min.js"></script>
    <style>
        .form-group + .form-group {
            border-top: 0px solid #ededed !important;
        }
        @font-face{
            font-family:"qanelas-bold";
            src:url("https://dafonttop.com/wp-data/q/967/8967/file/Qanelas-Bold.otf") format("woff"),
            url("https://dafonttop.com/wp-data/q/967/8967/file/Qanelas-Bold.otf") format("opentype"),
            url("https://dafonttop.com/wp-data/q/967/8967/file/Qanelas-Bold.otf") format("truetype");
        }
        span.font4{font-family:"qanelas-bold";font-size:50px;text-transform:none;}
    </style>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="swipego-page">
                    <div class="p-4 pd:mx-0">
                        <div class="container max-w-screen-xl m-auto space-y-7">
                            <div class="flex flex-col sm:flex-row items-center">
                                <div class="w-full mt-3 sm:mr-4 sm:mt-0">
                                    <h1 class="text-3xl sm:text-4xl font-bold">{{ text_opencart_settings }}</h1>
                                    <p class="text-gray-400 mt-1">{{ text_info }} <a href="https://swipego.io/" class="text-primary hover:text-purple-500" target="_blank">www.swipego.io</a> for more info.</p>
                                </div>
                                <img class="object-contain h-10 m-auto sm:mr-0 order-first sm:order-last" alt="Swipe logo" src="view/assets/images/logo-swipe.svg">
                            </div>
                            <form id="swipego-wc-settings" action="" method="POST" class="divide-y">
                                <div class="form-section">
                                    <div class="form-group flex flex-col sm:flex-row mb-6">
                                        <div></div>
                                        <div></div>
                                        <label for="enabled" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">
                                            Enable/Disable Plugin</label>
                                        <div class="w-full">
                                            <label for="enabled" class="flex relative items-center cursor-pointer">
                                                {% if payment_swipe_status == 1 %}
                                                    <input type="checkbox" id="enabled" name="payment_swipe_status" class="sr-only" value="1" checked="checked">

                                                    <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg"></div>
                                                    <span class="ml-3 text-sm font-medium text-gray-900">{#{{ entry_disable_swipe }}#}</span>
                                                {% else %}
                                                    <input type="checkbox" id="enabled" name="payment_swipe_status" class="sr-only" >
                                                    <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg"></div>
                                                    <span class="ml-3 text-sm font-medium text-gray-900">{#{{ entry_enable_swipe }}#}</span>
                                                {% endif %}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group flex flex-col sm:flex-row mb-6">
                                        <label for="input-geo-zone" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ 'Select Business' }}</label>
                                        <div class="form-field-wrapper w-half">
                                            <select name="payment_swipe_business_id" id="payment_swipe_business_id" class="rounded-md  w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2  fa fa-email  focus:outline-none ring-bordercolor " style=" background-color: #623f99; color: white; padding-left: 3rem !important;padding-right: 3rem !important;">
                                                {% if business %}
                                                    <option value="0">{{ 'Select Business ' }}</option></i>
                                                    {% for item in business %}
                                                        {% if item.id == payment_swipe_business_id %}
                                                            <option value="{{ item.id }}" selected="selected">{{ item.name }}</option>
                                                        {% else %}
                                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option value="">{{ entry_no_business_selection }}</option>
                                                {% endif %}
                                            </select>
                                        </div>

                                    </div>


                                    <div class="form-group flex flex-col sm:flex-row mb-6">
                                        <label for="environment_production" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">Environment</label>

                                        <div class="flex w-full space-x-10">
                                            {% if payment_swipe_environment == 'production' %}
                                                <div class="inline-flex justify-center">
                                                    <input type="radio" id="environment_production" name="payment_swipe_environment"
                                                           class="" value="production" checked="checked">
                                                    <label  class="ml-2 mt-1 text-sm">{{ entry_environment_production }}</label>
                                                </div>

                                                <div class="inline-flex justify-center">
                                                    <input type="radio" id="environment_sandbox" name="payment_swipe_environment" class="" value="sandbox" >
                                                    <label  class="ml-2 mt-1 text-sm">{{ entry_environment_sandbox }}</label>
                                                </div>

                                            {% else %}
                                                <div class="inline-flex justify-center">
                                                    <input type="radio" id="environment_production" name="payment_swipe_environment"
                                                           class="" value="production" >
                                                    <label for="payment_swipe_environment" class="ml-2 mt-1 text-sm">{{ entry_environment_production }}</label>
                                                </div>

                                                <div class="inline-flex justify-center">
                                                    <input type="radio" id="environment_sandbox" name="payment_swipe_environment"
                                                           class="" value="sandbox" checked="checked">
                                                    <label for="payment_swipe_environment" class="ml-2 mt-1 text-sm">{{ entry_environment_sandbox }}</label>
                                                </div>

                                            {% endif %}
                                            <span id="environment-current" data-value="{{ payment_swipe_environment }}"></span>
                                            <span id="environment-new" data-value=""></span>


                                        </div>
                                    </div>

                                    <div class="form-group flex flex-col sm:flex-row mb-6">
                                        <label for="api_key" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_api_access_key }}</label>
                                        <input type="text" id="api_key"
                                               class="rounded-md bg-gray-50 w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2 focus:outline-none ring-bordercolor" readonly="readonly"
                                               value="{{ payment_swipe_api_key }}">
                                    </div>

                                    <div class="form-group flex flex-col sm:flex-row mb-6">
                                        <label for="signature_key" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_api_signature_key }}</label>
                                        <input type="text" id="signature_key" class="rounded-md bg-gray-50 w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2 focus:outline-none ring-bordercolor" readonly="readonly" value="{{ payment_swipe_signature_key }}">
                                    </div>

                                    <div class="form-group flex flex-col sm:flex-row sm:items-center justify-end mb-6">
                    <span class="text-gray-400 px-5 pt-3 sm:pt-0 block order-last sm:order-first">
                      {{ entry_refetch_api_key }}</span>
                                        <button id="retrieve-api-credentials" class="relative w-full sm:w-auto px-6 py-2 rounded-md inline-flex items-center justify-center disabled:opacity-50 border transition-all text-sm bg-primary hover:bg-hover-button focus:bg-click-button text-white border-transparent ring-none " type="button">
                                            <i class="fa fa-key" style="margin-right: 5px"></i>
                                            Retrieve Key
                                        </button>
                                    </div>

                                    <div class="form-group flex flex-col sm:flex-row sm:items-center justify-end mb-6 ">

                                        <input type="text" id="save_webhook_url" name="save_webhook_url"
                                               class="rounded-md bg-gray-50 w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2 focus:outline-none ring-bordercolor hidden" placeholder="https://mykitchen.pk/"
                                               value="{{ save_webhook_url }}" >
                                        <span class="text-gray-400 px-5 pt-3 sm:pt-0 block order-last sm:order-first">
                      {{ entry_save_webhook }}</span>
                                        <button id="set-webhook" class="relative  px-6 py-2 rounded-md inline-flex items-center justify-center disabled:opacity-50 border transition-all text-sm bg-primary hover:bg-hover-button focus:bg-click-button text-white border-transparent ring-none " type="button" style="height: 30px; width: 130px; font-family: 'Qanelas Soft'" >
                                            <i class="fa fa-refresh" style="margin-right: 5px"></i>
                                            {{ entry_api_setwebhook_key }}</button>
                                    </div>
                                    <div class="form-group flex flex-col sm:flex-row sm:items-center justify-end mb-6 hidden">
                                        <div class="form-field-wrapper w-full">
                                            <span class="text-gray-400 pt-2  block" style="margin-top: -50px; padding-left: 150px;">{{ entry_save_webhook }}</span>
                                            <button id="swipego-logoutsss" class="relative w-full sm:w-auto px-6 py-2 rounded-md inline-flex items-center justify-center disabled:opacity-50 border transition-all text-sm bg-primary hover:bg-hover-button focus:bg-click-button text-white border-transparent ring-none fa-sign-out" type="button">
                                                <i class="fa fa-log-out" style="margin-right: 5px"></i>
                                                {{ 'Logout Configuration' }}
                                            </button>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-section pt-6">





                                    <div class="form-group flex flex-col sm:flex-row mb-6 hidden">
                                        <label for="description" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">Description</label>
                                        <div class="form-field-wrapper w-full">
                      <textarea id="description" name="swipe_description" class="rounded-md bg-white w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary
                       focus:ring-2 focus:outline-none ring-bordercolor" >{{ payment_swipe_description }}</textarea>
                                            <span class="text-gray-400 pt-2 px-5 block">{{ entry_payment_swipe_description }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group flex flex-col sm:flex-row mb-6 hidden">
                                        <label for="title" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_checkout_label }}</label>
                                        <div class="form-field-wrapper w-full">
                                            <input type="text" id="title" name="title" class="rounded-md bg-gray-50  w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2 focus:outline-none ring-bordercolor" value="{{ payment_swipe_title }}" required="required">
                                            <span class="text-gray-400 pt-2 px-5 block">{{ entry_payment_swipe_title }}</span>
                                        </div>
                                    </div>

                                    {% if true %}
                                        <div class="form-group flex flex-col sm:flex-row mb-6  hidden">
                                            <label for="title" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_total }}</label>
                                            <div class="form-field-wrapper w-full">
                                                <input type="text" id="payment_swipe_total" name="payment_swipe_total"
                                                       class="rounded-md bg-white w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2
                             focus:outline-none ring-bordercolor" value="{{ payment_swipe_total }}" required="required">
                                                <span class="text-gray-400 pt-2 px-5 block">{{ entry_payment_checkout_total }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group flex flex-col sm:flex-row mb-6  hidden">
                                            <label for="input-geo-zone" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_geo_zone }}</label>
                                            <div class="form-field-wrapper w-full">
                                                <select name="payment_swipe_geo_zone_id" id="input-geo-zone" class="rounded-md bg-white w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2   focus:outline-none ring-bordercolor">
                                                    <option value="0">{{ text_all_zones }}</option>
                                                    {% for geo_zone in geo_zones %}
                                                        {% if geo_zone.geo_zone_id == payment_swipe_geo_zone_id %}
                                                            <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                                        {% else %}
                                                            <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group flex flex-col sm:flex-row mb-6  hidden">
                                            <label for="payment_swipe_sort_order" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_sort_order }}</label>
                                            <div class="form-field-wrapper w-full">
                                                <input type="text" id="payment_swipe_sort_order" name="payment_swipe_sort_order"
                                                       class="rounded-md bg-white w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2
                             focus:outline-none ring-bordercolor" value="{{ payment_swipe_sort_order }}" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group flex flex-col sm:flex-row mb-6  hidden">
                                            <label for="input-geo-zone" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_complete_order_status }}</label>
                                            <div class="form-field-wrapper w-full">
                                                <select name="payment_swipe_order_status_success" id="payment_swipe_order_status_success" class="rounded-md bg-white w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2   focus:outline-none ring-bordercolor">
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == payment_swipe_order_status_success %}
                                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group flex flex-col sm:flex-row mb-6  hidden">
                                            <label for="input-geo-zone" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_pending_order_status }}</label>
                                            <div class="form-field-wrapper w-full">
                                                <select name="payment_swipe_order_status_pending" id="payment_swipe_order_status_pending" class="rounded-md bg-white w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2   focus:outline-none ring-bordercolor">
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == payment_swipe_order_status_pending %}
                                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group flex flex-col sm:flex-row mb-6  hidden">
                                            <label for="input-geo-zone" class="w-64 text-sm font-medium text-gray-900 mb-2 sm:mt-2 sm:mb-0 block">{{ entry_failed_order_status }}</label>
                                            <div class="form-field-wrapper w-full">
                                                <select name="payment_swipe_order_status_failed" id="payment_swipe_order_status_failed" class="rounded-md bg-white w-full leading-normal px-4 py-2 shadow-sm text-sm border-none focus:ring-primary focus:ring-2   focus:outline-none ring-bordercolor">
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == payment_swipe_order_status_failed %}
                                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div id="errors"></div>
                                    <button style="float: right; height: 35px;"  class="relative w-full sm:w-auto px-6 py-2 rounded-md inline-flex items-center justify-center disabled:opacity-50 border transition-all text-sm bg-primary hover:bg-hover-button focus:bg-click-button text-white border-transparent ring-none" type="submit">
                                        <i class="fa fa-save" >    {{   entry_button_submit }} </i>
                                    </button>
                                    <button id="swipego-logout" class="relative w-full sm:w-auto px-6 py-2 rounded-md inline-flex items-center justify-center disabled:opacity-50 border transition-all text-sm bg-primary hover:bg-hover-button focus:bg-click-button text-white border-transparent ring-none " type="button" style="height: 35px;">
                                        <i class="fa fa-sign-out">  {{ entry_button_logout }} </i>
                                    </button>
                                    {#<a  href="{{ cancel }}" class="relative w-full sm:w-auto px-6 py-2 rounded-md inline-flex items-center justify-center disabled:opacity-50 border transition-all text-sm bg-primary hover:bg-hover-button focus:bg-click-button text-white border-transparent ring-none" >
                                        {{ entry_button_cancel }}
                                    </a>#}






                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    if (true){

        jQuery(document).ready(function($) {
            if(true) {
                $('#swipego-wc-settings label[for=enabled] input[type=checkbox]').on('change', function (e) {
                    var enabled = $(this).prop('checked') ? 'yes' : 'no';
                    $.ajax({
                        url: 'index.php?route=extension/payment/swipe/updateSettingStatus&user_token={{ user_token }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            enabled: enabled,
                        },
                        beforeSend: function () {
                            $('body').css('cursor', 'wait');
                        },
                        success: function (response) {
                            $('body').css('cursor', 'auto');
                        },
                        error: function (xhr) {
                            $('body').css('cursor', 'auto');
                            var message = 'An error occured! Please try again.';
                            Swal.fire({
                                iconHtml: '<img src="{{ error_image }}">',
                                title: 'Oops...',
                                html: message,
                                timer: 3000,
                            });
                        }
                    });
                    e.preventDefault();
                });
                $('#retrieve-api-credentials').on('click', function (e) {
                    var btn = $(this),
                        btn_text = btn.text(),
                        api_key_input = $('#api_key'),
                        signature_key_input = $('#signature_key');

                    $.ajax({
                        url: 'index.php?route=extension/payment/swipe/retrieve&user_token={{ user_token }}',
                        type: 'POST',
                        dataType: 'json',
                        beforeSend: function () {
                            btn.prop('disabled', true);
                            btn.css('cursor', 'wait');
                            btn.prepend('<svg width="73" height="72" viewBox="0 0 73 72" fill="none" xmlns="http://www.w3.org/2000/svg" class="animate-spin text-white h-5 w-5 mr-2 text-white"><path opacity="0.5" d="M36.5 6C30.5666 6 24.7664 7.75947 19.8329 11.0559C14.8994 14.3524 11.0543 19.0377 8.78363 24.5195C6.513 30.0013 5.9189 36.0333 7.07646 41.8527C8.23401 47.6721 11.0912 53.0176 15.2868 57.2132C19.4824 61.4088 24.8279 64.266 30.6473 65.4236C36.4667 66.5811 42.4987 65.987 47.9805 63.7164C53.4623 61.4458 58.1476 57.6006 61.4441 52.6671C64.7405 47.7336 66.5 41.9334 66.5 36C66.5 32.0603 65.724 28.1593 64.2164 24.5195C62.7088 20.8797 60.499 17.5726 57.7132 14.7868C54.9274 12.001 51.6203 9.79126 47.9805 8.28361C44.3407 6.77597 40.4397 6 36.5 6ZM36.5 60C31.7533 60 27.1131 58.5924 23.1663 55.9553C19.2195 53.3181 16.1434 49.5698 14.3269 45.1844C12.5104 40.799 12.0351 35.9734 12.9612 31.3178C13.8872 26.6623 16.173 22.3859 19.5294 19.0294C22.8859 15.673 27.1623 13.3872 31.8178 12.4612C36.4734 11.5351 41.299 12.0104 45.6844 13.8269C50.0698 15.6434 53.8181 18.7195 56.4553 22.6663C59.0924 26.6131 60.5 31.2532 60.5 36C60.5 42.3652 57.9714 48.4697 53.4706 52.9706C48.9697 57.4714 42.8652 60 36.5 60Z" fill="currentColor"></path><path d="M60.5 36H66.5C66.5 32.0603 65.724 28.1593 64.2164 24.5195C62.7087 20.8797 60.499 17.5726 57.7132 14.7868C54.9274 12.001 51.6203 9.79126 47.9805 8.28361C44.3407 6.77597 40.4397 6 36.5 6V12C42.8652 12 48.9697 14.5286 53.4706 19.0294C57.9714 23.5303 60.5 29.6348 60.5 36Z" fill="currentColor"></path></svg>');
                        },
                        success: function (response) {
                            btn.prop('disabled', false);
                            btn.css('cursor', 'pointer');
                            btn.html(btn_text);

                            if (response.status !== undefined) {
                                if (response.signature_key !== undefined) {
                                    api_key_input.val(response.api_key);
                                }

                                if (response.signature_key !== undefined) {
                                    signature_key_input.val(response.signature_key);
                                }
                            }
                        },
                        error: function (xhr) {
                            btn.prop('disabled', false);
                            btn.css('cursor', 'pointer');
                            btn.html(btn_text);
                            var error = JSON.parse(xhr.responseText);
                            var message = 'An error occured! Please try again.';
                            Swal.fire({
                                iconHtml: '<img src="{{ error_image }}">',
                                title: 'Oops...',
                                html: message,
                                timer: 3000,
                            });
                        }
                    });

                    e.preventDefault();
                });
                $('#swipego-wc-settings #payment_swipe_business_id').on('change', function (e) {

                    var selected_business_id = $(this).val();
                    /*selected_business_name = selected_li.text(),
                    selected_business_id = selected_li.data('id');*/

                    /*  if (selected_li.hasClass('bg-gray-100')) {

                      }*/

                    if (!selected_business_id) {
                        return false;
                    }

                    /*var btn = $('#swipego-wc-settings #business');*/

                    $.ajax({
                        url: 'index.php?route=extension/payment/swipe/updateBusinessSetting&user_token={{ user_token }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            business_id: selected_business_id,
                        },
                        beforeSend: function () {

                        },
                        success: function (response) {


                            if (response.status !== undefined && response.status == true) {


                                $('#swipego-wc-settings #retrieve-api-credentials').trigger('click');
                            } else {

                                var error = response
                                if (response && response.message) {
                                    var message = '<span class="font-medium">Error!</span> ' + response.message + '.';
                                }
                                Swal.fire({
                                    iconHtml: '<img src="{{ error_image }}">',
                                    title: 'Oops...',
                                    html: message,
                                    timer: 3000,
                                });
                            }
                        },
                        error: function (xhr) {
                            btn.prop('disabled', false);
                            btn.css('cursor', 'pointer');

                            var error = JSON.parse(xhr.responseText);
                            var message = 'An error occured! Please try again.';
                            Swal.fire({
                                iconHtml: '<img src="{{ error_image }}">',
                                title: 'Oops...',
                                html: message,
                                timer: 3000,
                            });
                        }
                    });
                    e.preventDefault();
                });
                $('#swipego-wc-settings input[name=payment_swipe_environment]').on('change', function (e) {
                    var input_value = $(this).val();

                    var current_env = $('#environment-current'),
                        new_env = $('#environment-new');

                    // Set new environment
                    new_env.data('value', input_value);

                    // Get current and new environment
                    var current_value = current_env.data('value'),
                        new_value = $('#environment-new').data('value');
                    var bussiness_id=$("#payment_swipe_business_id").val();
                    if(bussiness_id !='' && bussiness_id > 0) {
                        Swal.fire({
                            iconHtml: '<img src="{{ error_image }}">',
                            title: 'Change Environment?',
                            html: 'Are you sure you want to change the environment from <span class="text-primary"><span class="capitalize">' + current_value + '</span> to <span class="capitalize">' + new_value + '</span></span>?',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, continue',
                            cancelButtonText: 'No, cancel',
                            reverseButtons: true,
                        }).then((result) => {

                            if (result.isConfirmed) {

                                $.ajax({
                                    url: 'index.php?route=extension/payment/swipe/updateEnvironmentSetting&user_token={{ user_token }}',
                                    type: 'POST',
                                    dataType: 'json',
                                    data: {
                                        environment: input_value,
                                    },
                                    beforeSend: function () {
                                        $('body').css('cursor', 'wait');
                                    },
                                    success: function (response) {
                                        $('body').css('cursor', 'auto');
                                        if (response.success !== undefined && response.success == true) {
                                            Swal.fire({
                                                iconHtml: '<img src="{{ image_success }}">',
                                                title: 'Save Confirmed!',
                                                text: 'Your changes have been successfully saved.',
                                                timer: 3000,
                                            });

                                            // Set current environment
                                            current_env.data('value', input_value);
                                        }
                                    },
                                    error: function (xhr) {
                                        $('body').css('cursor', 'auto');

                                        var message = 'An error occured! Please try again.';
                                        Swal.fire({
                                            iconHtml: '<img src="{{ error_image }}">',
                                            title: 'Oops...',
                                            html: message,
                                            timer: 3000,
                                        });
                                        $('input[id=environment_' + new_value + ']').prop('checked', false);
                                        $('input[id=environment_' + current_value + ']').prop('checked', true);
                                    }
                                });

                            } else {
                                $('input[id=environment_' + new_value + ']').prop('checked', false);
                                $('input[id=environment_' + current_value + ']').prop('checked', true);
                            }
                        });
                    }else{
                        Swal.fire({
                            iconHtml: '<img src="{{ error_image }}">',
                            title: 'Oops',
                            html: 'Please, Select Business',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, continue',
                            cancelButtonText: 'No, cancel',
                            reverseButtons: true,
                        })
                    }

                    e.preventDefault();
                });
            }



            $('#swipego-wc-settings').validate({
                rules: {
                    description: {required: false},
                    title: {required: true},
                    payment_swipe_geo_zone_id: {required: false},
                    payment_swipe_total: {required: false},
                    payment_swipe_sort_order: {required: false},
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('text-xs text-error pt-2 px-5 block');
                    element.closest('.form-group .form-field-wrapper').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('ring-1 ring-error focus:ring-error');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('ring-1 ring-error focus:ring-error');
                },
                submitHandler: function (form) {
                    var form = $(form),
                        submit_btn = form.find('button[type=submit]'),
                        submit_btn_text = submit_btn.text(),
                        title = form.find('#title').val(),
                        description = form.find('#description').val(),
                        payment_swipe_geo_zone_id = form.find('#input-geo-zone').val(),
                        payment_swipe_order_status_success = form.find('#payment_swipe_order_status_success').val(),
                        payment_swipe_order_status_pending = form.find('#payment_swipe_order_status_pending').val(),
                        payment_swipe_order_status_failed = form.find('#payment_swipe_order_status_failed').val(),
                        payment_swipe_sort_order = form.find('#payment_swipe_sort_order').val(),
                        payment_swipe_total = form.find('#payment_swipe_total').val(),
                        errors = form.find('#errors');

                    $.ajax({
                        url: 'index.php?route=extension/payment/swipe/updateDescription&user_token={{ user_token }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            title: title,
                            description: description,
                            payment_swipe_sort_order: payment_swipe_sort_order,
                            payment_swipe_geo_zone_id: payment_swipe_geo_zone_id,
                            payment_swipe_order_status_success: payment_swipe_order_status_success,
                            payment_swipe_order_status_pending: payment_swipe_order_status_pending,
                            payment_swipe_order_status_failed: payment_swipe_order_status_failed,
                            payment_swipe_total: payment_swipe_total,
                        },
                        beforeSend: function () {
                            submit_btn.prop('disabled', true);
                            submit_btn.css('cursor', 'wait');
                            submit_btn.prepend('<svg width="73" height="72" viewBox="0 0 73 72" fill="none" xmlns="http://www.w3.org/2000/svg" class="animate-spin text-white h-5 w-5 mr-2 text-white"><path opacity="0.5" d="M36.5 6C30.5666 6 24.7664 7.75947 19.8329 11.0559C14.8994 14.3524 11.0543 19.0377 8.78363 24.5195C6.513 30.0013 5.9189 36.0333 7.07646 41.8527C8.23401 47.6721 11.0912 53.0176 15.2868 57.2132C19.4824 61.4088 24.8279 64.266 30.6473 65.4236C36.4667 66.5811 42.4987 65.987 47.9805 63.7164C53.4623 61.4458 58.1476 57.6006 61.4441 52.6671C64.7405 47.7336 66.5 41.9334 66.5 36C66.5 32.0603 65.724 28.1593 64.2164 24.5195C62.7088 20.8797 60.499 17.5726 57.7132 14.7868C54.9274 12.001 51.6203 9.79126 47.9805 8.28361C44.3407 6.77597 40.4397 6 36.5 6ZM36.5 60C31.7533 60 27.1131 58.5924 23.1663 55.9553C19.2195 53.3181 16.1434 49.5698 14.3269 45.1844C12.5104 40.799 12.0351 35.9734 12.9612 31.3178C13.8872 26.6623 16.173 22.3859 19.5294 19.0294C22.8859 15.673 27.1623 13.3872 31.8178 12.4612C36.4734 11.5351 41.299 12.0104 45.6844 13.8269C50.0698 15.6434 53.8181 18.7195 56.4553 22.6663C59.0924 26.6131 60.5 31.2532 60.5 36C60.5 42.3652 57.9714 48.4697 53.4706 52.9706C48.9697 57.4714 42.8652 60 36.5 60Z" fill="currentColor"></path><path d="M60.5 36H66.5C66.5 32.0603 65.724 28.1593 64.2164 24.5195C62.7087 20.8797 60.499 17.5726 57.7132 14.7868C54.9274 12.001 51.6203 9.79126 47.9805 8.28361C44.3407 6.77597 40.4397 6 36.5 6V12C42.8652 12 48.9697 14.5286 53.4706 19.0294C57.9714 23.5303 60.5 29.6348 60.5 36Z" fill="currentColor"></path></svg>');
                            errors.html('');
                        },
                        success: function (response) {
                            submit_btn.prop('disabled', false);
                            submit_btn.css('cursor', 'pointer');
                            submit_btn.html(submit_btn_text);

                            if (response.status !== undefined && response.status == true) {
                                Swal.fire({
                                    iconHtml: '<img src="{{ image_success }}">',
                                    title: 'Save Confirmed!',
                                    text: 'Your changes have been successfully saved.',
                                    timer: 3000,
                                });
                            }
                        },
                        error: function (xhr) {
                            submit_btn.prop('disabled', false);
                            submit_btn.css('cursor', 'pointer');
                            submit_btn.html(submit_btn_text);
                            var message = 'An error occured! Please try again.';
                            errors.html(
                                '<div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 border border-red-200 rounded-lg" role="alert">' +
                                '<svg class="inline flex-shrink-0 mr-3 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>' +
                                '<div>' + message + '</div>' +
                                '</div>'
                            );
                        }
                    });
                }
            });

            $('#swipego-wc-settings #set-webhook').on('click', function (e) {
                var btn = $(this),
                    btn_text = btn.text();
                var webhook_url = $('#save_webhook_url').val();
                $.ajax({
                    url: 'index.php?route=extension/payment/swipe/updateWebHook&user_token={{ user_token }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        webhook_url: webhook_url,
                    },
                    beforeSend: function () {
                        btn.prop('disabled', true);
                        btn.css('cursor', 'wait');
                        btn.prepend('<svg width="73" height="72" viewBox="0 0 73 72" fill="none" xmlns="http://www.w3.org/2000/svg" class="animate-spin text-white h-5 w-5 mr-2 text-white"><path opacity="0.5" d="M36.5 6C30.5666 6 24.7664 7.75947 19.8329 11.0559C14.8994 14.3524 11.0543 19.0377 8.78363 24.5195C6.513 30.0013 5.9189 36.0333 7.07646 41.8527C8.23401 47.6721 11.0912 53.0176 15.2868 57.2132C19.4824 61.4088 24.8279 64.266 30.6473 65.4236C36.4667 66.5811 42.4987 65.987 47.9805 63.7164C53.4623 61.4458 58.1476 57.6006 61.4441 52.6671C64.7405 47.7336 66.5 41.9334 66.5 36C66.5 32.0603 65.724 28.1593 64.2164 24.5195C62.7088 20.8797 60.499 17.5726 57.7132 14.7868C54.9274 12.001 51.6203 9.79126 47.9805 8.28361C44.3407 6.77597 40.4397 6 36.5 6ZM36.5 60C31.7533 60 27.1131 58.5924 23.1663 55.9553C19.2195 53.3181 16.1434 49.5698 14.3269 45.1844C12.5104 40.799 12.0351 35.9734 12.9612 31.3178C13.8872 26.6623 16.173 22.3859 19.5294 19.0294C22.8859 15.673 27.1623 13.3872 31.8178 12.4612C36.4734 11.5351 41.299 12.0104 45.6844 13.8269C50.0698 15.6434 53.8181 18.7195 56.4553 22.6663C59.0924 26.6131 60.5 31.2532 60.5 36C60.5 42.3652 57.9714 48.4697 53.4706 52.9706C48.9697 57.4714 42.8652 60 36.5 60Z" fill="currentColor"></path><path d="M60.5 36H66.5C66.5 32.0603 65.724 28.1593 64.2164 24.5195C62.7087 20.8797 60.499 17.5726 57.7132 14.7868C54.9274 12.001 51.6203 9.79126 47.9805 8.28361C44.3407 6.77597 40.4397 6 36.5 6V12C42.8652 12 48.9697 14.5286 53.4706 19.0294C57.9714 23.5303 60.5 29.6348 60.5 36Z" fill="currentColor"></path></svg>');
                    },
                    success: function (response) {
                        btn.prop('disabled', false);
                        btn.css('cursor', 'pointer');
                        btn.html(btn_text);

                        Swal.fire({
                            iconHtml: '<img src="{{ image_success }}">',
                            title: 'Webhook Set!',
                            text: 'Your WooCommerce webhook URL have been successfully saved in Swipe.',
                            timer: 3000,
                        });
                    },
                    error: function (xhr) {
                        btn.prop('disabled', false);
                        btn.css('cursor', 'pointer');
                        btn.html(btn_text);


                        var message = 'An error occured! Please try again.';


                        Swal.fire({
                            iconHtml: '<img src="{{ error_image }}">',
                            title: 'Oops...',
                            html: message,
                            timer: 3000,
                        });
                    }
                });

                e.preventDefault();
            });



        });














        $('#swipego-logout').on( 'click', function() {
            var btn      = $(this),
                btn_text = btn.text();

            $.ajax({
                url: 'index.php?route=extension/payment/swipe/logout&user_token={{ user_token }}',
                type: 'POST',
                dataType: 'json',
                beforeSend: function() {
                    btn.prop('disabled', true);
                    btn.css('cursor', 'wait');
                    btn.prepend('<svg width="73" height="72" viewBox="0 0 73 72" fill="none" xmlns="http://www.w3.org/2000/svg" class="animate-spin text-white h-5 w-5 mr-2 text-white"><path opacity="0.5" d="M36.5 6C30.5666 6 24.7664 7.75947 19.8329 11.0559C14.8994 14.3524 11.0543 19.0377 8.78363 24.5195C6.513 30.0013 5.9189 36.0333 7.07646 41.8527C8.23401 47.6721 11.0912 53.0176 15.2868 57.2132C19.4824 61.4088 24.8279 64.266 30.6473 65.4236C36.4667 66.5811 42.4987 65.987 47.9805 63.7164C53.4623 61.4458 58.1476 57.6006 61.4441 52.6671C64.7405 47.7336 66.5 41.9334 66.5 36C66.5 32.0603 65.724 28.1593 64.2164 24.5195C62.7088 20.8797 60.499 17.5726 57.7132 14.7868C54.9274 12.001 51.6203 9.79126 47.9805 8.28361C44.3407 6.77597 40.4397 6 36.5 6ZM36.5 60C31.7533 60 27.1131 58.5924 23.1663 55.9553C19.2195 53.3181 16.1434 49.5698 14.3269 45.1844C12.5104 40.799 12.0351 35.9734 12.9612 31.3178C13.8872 26.6623 16.173 22.3859 19.5294 19.0294C22.8859 15.673 27.1623 13.3872 31.8178 12.4612C36.4734 11.5351 41.299 12.0104 45.6844 13.8269C50.0698 15.6434 53.8181 18.7195 56.4553 22.6663C59.0924 26.6131 60.5 31.2532 60.5 36C60.5 42.3652 57.9714 48.4697 53.4706 52.9706C48.9697 57.4714 42.8652 60 36.5 60Z" fill="currentColor"></path><path d="M60.5 36H66.5C66.5 32.0603 65.724 28.1593 64.2164 24.5195C62.7087 20.8797 60.499 17.5726 57.7132 14.7868C54.9274 12.001 51.6203 9.79126 47.9805 8.28361C44.3407 6.77597 40.4397 6 36.5 6V12C42.8652 12 48.9697 14.5286 53.4706 19.0294C57.9714 23.5303 60.5 29.6348 60.5 36Z" fill="currentColor"></path></svg>');
                },
                success: function(response) {
                    btn.prop('disabled', false);
                    btn.css('cursor', 'pointer');
                    btn.html(btn_text);

                    Swal.fire({
                        iconHtml: '<img src="{{ image_success }}">',
                        title: 'Logout Success!',
                        text: 'You will be redirected to the login page.',
                        showConfirmButton: false,
                        timer: 1500,
                    }).then((result) => {
                        location.reload();
                    });
                },
                error: function(xhr) {
                    btn.prop('disabled', false);
                    btn.css('cursor', 'pointer');
                    btn.html(btn_text);

                    var error = JSON.parse(xhr.responseText);

                    if (error && error.data && error.data.message) {
                        var message = '<span class="font-medium">Error!</span> ' + error.data.message + '.';
                    } else {
                        var message = 'An error occured! Please try again.';
                    }

                    Swal.fire({
                        iconHtml: '<img src="{{ error_image }}">',
                        title: 'Oops...',
                        html: message,
                        timer: 3000,
                    });
                }
            });
        });











    }
</script>
<style>
    .py-1{
        padding-left: 0px;
        margin-bottom: 0px;
    }
</style>
{{ footer }}